@import "tailwindcss";
@plugin "flyonui";
@plugin "@iconify/tailwind4";

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}


body {
    /* font-family: Pretendard, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px; */
    color: var(--black);
}


:root {
    --orange: #ff9428;
    --darkorange: #de6f00;
    --black: #202124;
    --white: #fff;
    --gray-500: #747474;
    --gray-200: #bbbaba;
    --gray-100: #cacaca;
    --gradient: linear(#ffe41b 0%, #ff9428 38%);
}

@theme {
    --spacing: 1px;
    --color-orange: var(--orange);
    --color-darkorange: var(--darkorange);
    --color-black: var(--black);
    --color-gray-500: var(--gray-500);
    --color-gray-200: var(--gray-200);
    --color-gray-100: var(--gray-100);
    --color-gradient: var(--gradient);
}

/* @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
} */